.clients {
  width: 31.9%;
  max-width: 300px;
}

.clients__title {
  padding-bottom: 15px;
  font-size: 16px;
  font-weight: 600;
}

.client__item {
  display: flex;
  align-items: center;
}

.client__icon-wrapper {
  min-width: 25px;
}

.client__text {
  padding-left: 20px;
  font-weight: 300;
  line-height: 2.81;

  b {
    font-weight: 600;
  }
}

.clients__button {
  width: 100%;
  margin-top: 25px;
  line-height: 3.61;
}


@media (max-width: 900px) {
  .clients {
    width: 100%;
    max-width: 740px;
    margin: 30px auto 0;
  }

  .clients__title {
    text-align: center;
  }

  .clients__list {
    display: flex;
    flex-wrap: wrap;
  }

  .client__item {
    justify-content: center;
    width: 50%;
    margin-bottom: 10px;
  }

  .client__text {
    line-height: 2.6;
  }

  .clients__button {
    display: block;
    max-width: 320px;
    margin: 10px auto 0;
    font-size: 16px;
    line-height: 3;
  }
}

@media (max-width: 768px) {
  .client__text {
    padding-left: 15px;
    font-size: 15px;
  }

  .clients__button {
    margin: 20px auto 0;
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .client__text {
    padding-left: 15px;
    font-size: 15px;
  }

  .clients__button {
    margin: 20px auto 0;
    font-size: 15px;
  }
}

@media (max-width: 600px) {
  .client__item {
    width: 100%;
  }

  .client__text {
    padding-left: 10px;
    line-height: 2.2;
  }

  .clients__button {
    max-width: 280px;
  }
}

