.header__inner {
  display: flex;
  justify-content: flex-end;
  align-self: center;
  padding: 20px 0;
}

.header__logo {
  margin-right: auto;

  img {
    display: block;
  }
}

.header__text {
  margin-right: 84px;
  font-size: 14px;
  font-weight: 300;
  line-height: 2.92;
}

.header__phone {
  margin-right: 20px;
  font-size: 18px;
  font-weight: 600;
  line-height: 2.22;
  color: $text-color;
  transition: 0.5s linear;

  &:hover {
    color: $hover-color;
  }
}

.header__download {
  display: flex;
  justify-content: space-between;
}

.header__top {
  border-bottom: 1px solid #f4f4f4;

  .header__inner {
    padding: 10px 0;
  }

  .header__phone {
    margin-right: auto;
    font-size: 14px;
    line-height: 2;
  }

  .header__button {
    padding: 0 20px;
    font-size: 12px;
    font-weight: 600;
    line-height: 2.5;
  }
}




.header__top.fixed {
  position: fixed;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.3);
  z-index: 100;
}













@media (max-width: 960px) {
  .header__top {
    position: relative;

    .header__inner {
      justify-content: space-between;
    }

    .header__phone {
      display: none;
    }
  }

}

@media (max-width: 900px) {
  .header__inner {
    padding: 15px 0;
  }

  .header__logo {
    width: 170px;
  }

  .header__text {
    margin-right: 75px;
    line-height: 2.78;
  }

  .header__phone {
    margin-right: 15px;
    font-size: 17px;
    line-height: 2.294;
  }

}

@media (max-width: 768px) {
  .header__inner {
    justify-content: space-between;
    padding: 12px 0;
  }

  .header__logo {
    margin-right: auto;
    width: 160px;
  }

  .header__text {
    display: none;
    margin: 0;
  }

  .header__phone {
    font-size: 16px;
    line-height: 2.25;
  }

  .header__top {
    .header__button {
      padding: 0 10px;
      font-size: 12px;
      font-weight: 400;
    }
  }
}

@media (max-width: 600px) {
  .header__inner {
    padding: 10px 0;
  }

  .header__logo {
    width: 140px;
  }

  .header__phone {
    font-size: 15px;
    line-height: 2;
  }

  .header__top {
    .header__button {
      line-height: 2.25;
    }
  }

}

@media (max-width: 420px) {
  .header__logo {
    width: 120px;
  }

  .header__phone {
    display: none;
  }

}












