.process {
  background-color: $bg-color;
}

.process__list {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 10px
}

.process__item {
  width: 33.33%;
  padding: 0 10px;
}

.process__img-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 90px;
  margin-bottom: 50px;
}

.process__text {
  font-weight: 300;
  text-align: center;
  color: #1c1c1c;

  b {
    font-weight: 600;
  }
}

@media (max-width: 900px) {
  .process__img-wrapper {
    margin-bottom: 45px;
  }
}

@media (max-width: 768px) {
  .process__list {
    padding: 10px 0 5px;
  }

  .process__img-wrapper {
    margin-bottom: 30px;
  }

  .process__text {
    font-size: 15px;
  }
}

@media (max-width: 600px) {
  .process__list {
    flex-wrap: wrap;
  }

  .process__item {
    width: 50%;
    margin-bottom: 10px;
  }
}

@media (max-width: 420px) {
  .process__item {
    width: 100%;
    margin-bottom: 20px;
    padding: 0 15px;
  }

  .process__img-wrapper {
    margin-bottom: 15px;
  }
}