.reviews-menu {
  display: flex;
  justify-content: space-between;

  max-width: 670px;
  margin: 0 auto;
}

.reviews-menu__item {
  padding: 0 12px;
  font-size: 14px;
  font-weight: 600;
  line-height: 2.22;
  text-transform: uppercase;
  color: #313131;
  transition: 0.5s;

  border: 2px solid transparent;
  border-radius: 4px;

  &:hover {
    cursor: pointer;
    color: #e50000;
  }
}

.reviews-menu__item.is-active {
  color: #e50000;
  border-color: #e50000;
}

@media (max-width: 900px) {
  .reviews-menu {
    max-width: 600px;
  }

  .reviews-menu__item {
    font-size: 13px;
    line-height: 2.2;
  }

}

@media (max-width: 768px) {
  .reviews-menu {
    max-width: 580px;
  }

  .reviews-menu__item {
    padding: 0 10px;
  }
}

@media (max-width: 600px) {
  .reviews-menu {
    flex-direction: column;
    max-width: 400px;
  }

  .reviews-menu__item {
    margin-bottom: 5px;
  }

}