.tariffs {
  background-color: $bg-color;
}

.tariffs__inner {
  .section__title {
    padding-bottom: 32px;
    text-align: left;
    color: #313131;
  }

  .section__subtitle {
    max-width: 680px;
    font-size: 18px;
    font-weight: 600;
  }
}

.tariffs__nav {
  padding: 35px 0 30px;
}

.tariffs__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 100px;
}

.tariffs__list.horizontally {
  flex-direction: column;
}


@media (max-width: 900px) {
  .tariffs__inner {
    .section__title {
      padding-bottom: 30px;
    }

    .section__subtitle {
      font-size: 17px;
    }
  }

  .tariffs__list.horizontally {
    flex-direction: column;
    padding-bottom: 50px;
  }
}

@media (max-width: 768px) {
  .tariffs__inner {
    .section__title {
      padding-bottom: 30px;
    }

    .section__subtitle {
      font-size: 16px;
    }

    .tariffs__nav {
      padding: 25px 0 25px;
    }
  }

  .tariffs__list {
    justify-content: center;
    padding-bottom: 50px;
  }

}

@media (max-width: 600px) {
  .tariffs__inner {
    .section__title {
      text-align: center;
    }

    .section__subtitle {
      font-size: 16px;
      text-align: center;
    }

    .tariffs__nav {
      padding: 20px 0;
    }
  }

  .tariffs__list {
    padding-bottom: 30px;
  }

  .tariffs__list.horizontally {
    flex-direction: row;
    padding-bottom: 30px;
  }

}

@media (max-width: 420px) {
  .tariffs__inner {
    .section__subtitle {
      font-size: 15px;
    }
  }

  .tariffs__list {
    padding-bottom: 20px;
  }

  .tariffs__list.horizontally {
    flex-direction: row;
    padding-bottom: 20px;
  }

}

